body {
    background: #f1f1f2;
    font-family: 'Be Vietnam', sans-serif;
    height : 100vh;
    overflow : scroll;
    padding-top: 55px;
}

.form-control:focus {
    border-color: #28a74600;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 70, 0);
} 

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.btn-main{
    background-color: #484848 !important;
    border: #484848 !important;
    color: #e2e2e2;
}

.btn-basic{
    background-color: #fff2fc;
    color: #ff7f50 !important;
    padding: 2px 5px;
    border-radius: 50px;
}

.btn-basic:hover{
    background-color: #fce4f6;
}

.searchResults{
    background-color: #e2e2e2;
}

.search{
    position: relative;
}
.search input.pincode{
    padding: 15px;
    border-radius: .25rem 0 0 .25rem;
    border: 0;
    min-width: 400px;
    border: solid 1px #e7f1fa;
    border-right: 0;
}

.search .searchResults{
    position: absolute;
    top: 100%;
    list-style: none;
    padding: 0;
    width: 100%;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28)
}

.search .searchResults li{
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    margin-top: -1px;
    text-align: left;
    background-color: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block;
}

.search .searchResults li:hover{
  
  background-color: #fdf6e6;
 cursor: pointer;
}

nav.navbar{
    background-color: #ffffff;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

nav.navbar .nav-item.active{
    position: relative;
}

nav.navbar .nav-item.active .nav-link{
    color: #ffc107
}

nav.navbar .nav-item.active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ffc107;
    top: -8px;
}

nav .navbar-brand {
    font-weight: bold;
    background: -webkit-linear-gradient(#ffc8b3, #ff7f50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



section#home{
    height: 100vh;
}

section#home img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 17% 65%
}

section#home .caption{
    position: absolute;
    top: 30%;
    transform: translateY(30%);
    width: 100%;
    text-align: center;
}

section#home .caption h1{
    font-size: 85px;
    font-weight: bold;
    background: -webkit-linear-gradient(#ffc8b3, #ff7f50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
    /* text-shadow: 1px 1px 1px #ff7f50a1; */
}

section#home .caption form{
    margin-top: 40px;
    box-shadow: 0 5px 7px 0 rgba(32,33,36,0.28);
}

section#home .input-group {
    align-items: center;
    justify-content: center;
}
section#home .input-group>input[type="text"] {
    flex: 0 0 30%;
    padding: 15px
}

section#home .input-group .input-group-append>input[type="submit"]{
    padding: 15px;
}


section#home input[type=submit]{
    padding: 16px;
    border-radius: 0 .25rem .25rem 0;
}

section#home button.multiselect{
    border-radius: 0 ;
    border: 0;
    background: floralwhite;
    border: solid 1px #e7f1fa;
    border-left: 0;
    border-right: 0;
}



section#home form{
    align-content: center;
    text-align: center;
    float: left;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%,-50%);
}

.home-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: right;
    width: 100%;
    padding-right: 20px;
}

.home-footer ul li a{
    color: #e5dcc8;
    margin: 0 10px
}

.home-footer ul li a:hover{
    color: #d3c9b4;
}
 
#accordion .panel {
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

#accordion .panel-heading {
    padding: 0;
    border: none;
    border-radius: 5px 5px 0 0;
    display: block;
    padding: 18px 15px;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    color: #ff7f50;
    /* border: 1px solid #ececec; */
    position: relative;
    transition: all 0.1s ease 0s;
    float: left;
    width: 100%;
    border-bottom: 0 !important;
    border: solid 1px #e7f1fa;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 39%, rgba(255,255,255,0.99) 66%, rgba(255,255,255,0.97) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(33%, rgba(255,255,255,1)), color-stop(39%, rgba(255,255,255,1)), color-stop(66%, rgba(255,255,255,0.99)), color-stop(100%, rgba(255,255,255,0.97)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 39%, rgba(255,255,255,0.99) 66%, rgba(255,255,255,0.97) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 39%, rgba(255,255,255,0.99) 66%, rgba(255,255,255,0.97) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 39%, rgba(255,255,255,0.99) 66%, rgba(255,255,255,0.97) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 39%, rgba(255, 255, 255, 0.81) 66%, rgba(255, 255, 255, 0.45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

#accordion .panel-title {
    margin-left: 10px;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

#accordion .pic {
    width: 60px;
    float: left;
    border-radius: 5px;
    transition: all 0.1s ease 0s;
}

#accordion .pic img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    width: 60px;
    height: 60px;
}

#accordion .user-interact {
    position: absolute;
    right: 36px;
    top: 0px;
    display: none;
}

#accordion .user-interact a {
    display: block;
    background-color: #ff7f50;
    padding: 5px;
    color: transparent;
    margin-bottom: 25px;
    line-height: 0;
    height: 30px;
    width: 30px;
    position: relative;
}

#accordion .user-interact a:nth-child(1):before{
    content: '\f164';
    font-family: "Font Awesome 5 Free";
    position: relative;
    top: 50%;
    transform: translateY(50%);
    color: #ffffff;
}

#accordion .user-interact a.active-like:nth-child(1){
    background-color: #4b4b4b;
}

#accordion .user-interact a:nth-child(1):after{
    content: "(" attr(data-likes) ")";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 40px;
    left: 0;
    color: #000000;
    font-size: 13px;
    transform: translateX(50%);
}

#accordion .user-interact a:nth-child(2)::before{
    content: '\f165';
    font-family: "Font Awesome 5 Free";
    position: relative;
    top: 50%;
    transform: translateY(50%);
    color: #ffffff;
}

#accordion .user-interact a.active-dislike:nth-child(2){
    background-color: #4b4b4b;
}

#accordion .user-interact a:nth-child(2):after{
    content: "(" attr(data-dislikes) ")";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 40px;
    left: 0;
    color: #000000;
    font-size: 13px;
    transform: translateX(50%);
}


#accordion .panel-title .toggle.collapsed {
    box-shadow: none;
    color: #676767;
}

#accordion .panel-heading .toggle::before,
#accordion .panel-heading .collapsed .toggle::before {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    /* width: 25px; */
    /* height: 25px; */
    line-height: 28px;
    font-size: 18px;
    font-weight: 900;
    color: #ff7f50;
    text-align: center;
    position: absolute;
    right: 15px;
    /* position: relative; */
    top: 50%;
    transform: translateY(50%);
    transition: all 0.1s ease 5s;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px #0000000f;
    padding: 0px 10px;
    cursor: pointer;
}

#accordion .panel-heading > .rating{
    display: none;
    position: absolute;
}

#accordion .toggle {
    position: relative;
}

#accordion span.toggle:not(.collapsed)::before {
    color: #676767;
    content: "\f063";
    box-shadow: 0px -2px 1px #0000000f !important;
}

#accordion span.toggle:not(.collapsed):hover::before {
    color: #ff7f50;
}

#accordion .panel-title .toggle:after {
    content: "";
    width: 1px;
    height: 100%;
    background: #ececec;
    position: absolute;
    top: 0;
    right: 55px;
}

#accordion .panel-body {
    padding: 25px;
    border: none;
    font-size: 15px;
    color: #a8a8a8;
    line-height: 27px;
    background-color: #ffffffb8;
    border-top: 0 !important;
    border: solid 1px #e7f1fa;
    border-radius: 0 0 5px 5px;
}

#accordion .panel-body .comments {
    background-color: #ffffff;
    padding: 15px 15px 30px;
    border: solid 1px #e7f1fa;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#accordion .panel-body .comments .comment {
    padding: 10px;
    box-shadow: 1px 1px 4px #0000000f;
    border-radius: 0 5px 5px 20px;
    margin-bottom: 15px;
}

#accordion .panel-body .comments .comment p {
    font-size: 14px;
    /* color: #e3e3e3; */
    font-style: initial;
    line-height: 24px;
    word-break: break-all;
}

#accordion .panel-body .contact {
    background-color: #ffffff;
    padding: 15px;
    border: solid 1px #e3e3e3;
    height: 100%;
}

#accordion .panel-body .comments a#comment-btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 9px;
    z-index: 9;
}

#accordion .panel-body .comments .comment-box{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ececec;
    height: 100%;
    width: 100%;
    padding: 10px;
    transition: all 1s ease 0s;
}

#accordion .panel-body .comments .comment-box.open{
    top: 0;
    transition: all 1s ease 0s;
    box-shadow: 0px 5px 10px #000000db;
}

#accordion .panel-body .comments .comment-box textarea{
    height: 180px;
    width: 100%;
    border: solid 1px #e3e3e3;
    resize: none;
}

#accordion .panel-body .comments .inner-scroll{
    width: 100%;
    height: 230px;
    overflow-y: scroll;
}

@-webkit-keyframes quickFlash {
    0% {
      background-color: #fff2fc;
      opacity: 1;
    }
    100% {
      background-color: inherit;
    }
  }
  
  .quickFlash {
    -webkit-animation-name: quickFlash;
    -webkit-animation-duration: 1900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: quickFlash;
    -moz-animation-duration: 1900ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
  }

#accordion .panel-body .contact .info {
    padding: 12px 0;
    border-bottom: solid 1px #e3e3e3;
}

#accordion .panel-body .contact .info i {
    background-color: #ff7f50;
    color: #ffffff;
    padding: 5px;
}


#accordion .panel-collapse {
    float: left;
    width: 100%;
}


span.toggle:not(.collapsed)~span.pic {
    width: 100% !important;
    transition: all 0.1s ease 0s;
    text-align: center;
}

span.toggle:not(.collapsed)~span.pic img {
    transition: all 0.1s ease 0s;
    width: 300px !important;
    height: 280px !important;
}

span.toggle:not(.collapsed)~h4 {
    text-align: center;
    width: 100%;
    margin-left: 0 !important;
    position: relative;
    top: 0%;
    transform: translateY(0%);
}

span.toggle:not(.collapsed)~h4 span.rating {
    text-align: center;
    width: 100%;
    float: left;
    position: relative;
    top: 0%;
    transform: translateY(0%);
    display: none;
}

span.toggle:not(.collapsed)~ h4 span.rating {
    text-align: center;
    width: 100%;
    float: left;
    position: relative;
    top: 0%;
    transform: translateY(0%);
    display: none;
}

span.toggle:not(.collapsed)~ span.rating{
    display: block !important;
    text-align: center;
    width: 100%;
    float: left;
    width: 101.2px;
}

span.toggle:not(.collapsed)~span.user-interact {
    display: block !important;
    top: 75px !important;
}

.rating {
    margin-left: 0;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

a.rating{
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 2px;
    display: block;
}

.rating i{
    color: #ffd700;
    text-shadow: 1px 1px 2px #ece8e8;
}

.rating.active i{
    color: #ffbc00;
    text-shadow: 1px 1px 2px #b3b3b3;
}

.rating-hider{
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    background-color: #ffffff;
    width: 0%;
}


#directory .filters{
    background-color: #ffffff85;
    padding: 20px;
    border: solid 1px #e3e3e3;
}

#directory .rankings{
    background-color: #ffffff85;
    padding: 20px;
    border: solid 1px #e3e3e3;
}

#directory .ad{
    background-color: #ffffff;
}






section#contactus{
    background-image: url(../images/5964.png);
    background-attachment: fixed;
}


#contactus h3{
    color: #ff7f50;
    margin-bottom: 30px;
}

#contactus .left{
    height: 100%;
    float: left;
    width: 100%;
}

#contactus .left::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #e2e2e2;
}

#contactus .left::after{
    content: 'OR';
    position: absolute;
    right: -12px;
    top: calc(50% - 55.97px);
    background-color: #eaf1f9;
    padding:20px 0;
    font-size: 20px;
    color: #a3a3a3;
}

#contactus .left .inner{
    top: calc(50% - 55.97px);
    /* transform: translateY(50%); */
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

#contactus .left .inner a{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #676767
}

#contactus .right{
    height: 100%;
    float: left;
    width: 100%;
    height: calc(100vh - 55.97px) !important;
}

#contactus .right .inner{
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%    
}


/* Box styles */
#myBox {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 200px;
    height: 150px;
    }
    
    /* Scrollbar styles */
    #myBox::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    #myBox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #e2e2e2;
    border-radius: 10px;
    }
    
    #myBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ff7f50; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }







section#directory{
    background-image: url(../images/5964.png);
    background-attachment: fixed;
}





    .sidebar {
        min-height:100vh;
        overflow:hidden;
    }

    .sidebar .form-check{
        padding: 0;
    }

    .sidebar .gender{
        color: #ffffff !important;
    }

    .sidebar .gender.active{
        background-color: #ffd700 !important;
    color: #333 !important;
    border: #ffd700 !important;
    }
    
    
    .collapse.width {
      width: 0;
      max-width: 0;
      height: 100%;
      transition: max-width 0.3s linear;
      display: block;
      overflow: hidden;
    }
    
    .vh-100 {
        min-height: 100vh;
    }
    
    .collapsing.width {
      transition:  max-width 0.7s linear;
      width: 0% !important;
      height: 100%;
      max-width: 0% !important;
      min-width: 0;
      position: relative;
      display: block;
    }
    
    .collapse.width.show {
      transition:  max-width 0.3s linear;
      width: 100%;
      height: 100%;
      max-width: 100%;
      min-width: 0;
      position: relative;
      display: block;
    }
    

    .advertisements{
        transition: max-width 0.3s linear;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 0;
    position: relative;
    display: block;
    min-height: 100vh;
    }

    .endofResults{
        background: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #00000021;
    }


    #login{
        
    }

    #login .card{
        border: solid 1px #e7f1fa;
        box-shadow: 0 5px 7px 0 rgba(32,33,36,0.28);
    }

    #login .card input{
        border: solid 1px;
    }


    section#dashboard{
        padding: 25px 0;
    }

    section#dashboard input[type=file]{
    border: solid 1px #ced4da;
    padding: 15px;
    }

    section#dashboard a{
        cursor: pointer;
    }